<div class="text-gray-700 bg-white my-10">
    <div class="mx-auto pl-10">
        <nav class="flex flex-col items-start w-full" x-show="!searching">
            {{ nav:main_menu }}
            <a
                class="border-l-4 {{ if is_current }} border-slate-800 text-slate-800 font-bold {{ /if }} hover:text-slate-800 hover:border-slate-800 text-base transition-all antialiased pl-3 py-3 rounded"
                href="{{ url }}"
                >{{ title }}</a
            >
            {{ /nav:main_menu }}
        </nav>
    </div>
</div>
