<header
    class="absolute top-0 right-0 sm:bg-white bg-gray-400 w-full py-3 pl-5 sm:pr-20 pr-8"
>
    <div class="flex justify-between items-center">
        <a href="/">
            <img
                class="w-10 sm:w-16 object-cover"
                src="{{ settings:site_logo }}"
                alt="{{ settings:site_name }}"
            />
        </a>

        <div class="flex justify-between">
            {{ locales current_first="false" }}
            <a
                href="{{ url }}"
                class="sm:block uppercase hidden px-2 py-1 border-2 border-inset font-bold border-neutral-300 mr-1 hover:bg-neutral-300 {{ is_current ? 'bg-neutral-300 text-neutral-500 font-bold disabled' : null }}"
            >
                {{ locale:short_locale }}
            </a>
            {{ /locales }}

            <button
                type="button"
                class="sm:text-2xl text-2xl block sm:hidden"
                @click="open = !open"
            >
                <i class="fas fa-bars sm:text-black text-white"></i>
            </button>
        </div>
    </div>
</header>
