<!DOCTYPE html>
<html lang="{{ $site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <title>{{ $title }} ‹ {{ $settings:site_name }}</title>

        {{ faviconator }}

        <meta
            name="description"
            content="{{ $intro | strip_tags | entities }}"
        />
        <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "blogPost",
              "name": "{{ $title }}",
              "author": {
                "@type": "Person",
                "name": "{{ $author:name }}"
              },
              "datePublished": "{{ $date | format("Y-m-d") }}",
              "description": "{{ $intro | strip_tags | entities }}"
            }
        </script>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}" />
        {{ partial:personality }}
        <script
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer
        ></script>
        <script src="{{ mix src='/js/site.js' }}"></script>
    </head>
    <body x-data="{searching: false, open: true}">
        <main class="min-h-screen container mx-auto overflow-hidden">
            {{ partial:nav }} {{ partial:topbar }}
            <div class="flex sm:px-16 px-4 w-full">
                <div class="w-full sm:mt-28 mt-24" :class="{'ml-28': open}">
                    {{ $template_content }}
                </div>
            </div>
        </main>
        {{ partial:footer }}
    </body>
</html>
