<article class="max-w-7xl mx-auto px-5 sm:px-3">
    <header>
        <h1
            class="sm:text-2xl text-lg font-bold antialiased uppercase text-gray-800 my-4 sm:mb-8"
        >
            Tag "{{ title}}" posts:
        </h1>
    </header>

    {{ entries as="posts" paginate="10" sort="date:desc" }}
    <section class="grid overflow-hidden grid-cols-1 md:grid-cols-3 gap-6">
        {{ posts }} {{ partial:blog/card :oversized="first" }} {{ /posts }}
    </section>
    {{ /entries }}
</article>
