{{ if $first }}
<div class="sm:row-span-2 sm:col-span-2 col-span-0">
    <div
        class="relative h-56 sm:h-full w-full flex items-end justify-start text-left bg-cover bg-center rounded-xl"
        style="background-image: url({{ hero_image }})"
    >
        <div
            class="absolute top-0 mt-20 right-0 bottom-0 left-0 rounded-xl bg-gradient-to-b from-transparent to-gray-800"
        ></div>
        <main class="p-5 z-10">
            <a
                href="{{ url }}"
                class="text-lg sm:text-3xl leading-snug tracking-tight font-medium text-white hover:underline"
            >
                {{ title }}
            </a>
            {{ if tags }}
            <div class="mt-5">{{ partial:blog/tags }}</div>
            {{ /if }}
        </main>
    </div>
</div>
{{ else }}
<div class="sm:col-start-3 sm:col-span-1 col-span-0">
    <div class="flex flex-col">
        <div
            class="relative h-56 w-full flex items-end justify-start text-left bg-cover bg-center rounded-xl"
            style="background-image: url({{ hero_image }})"
        >
            <div
                class="absolute top-0 mt-20 right-0 bottom-0 left-0 rounded-xl bg-gradient-to-b from-transparent to-gray-800"
            ></div>
            <main class="p-5 z-10">
                <a
                    href="{{ $url }}"
                    class="text-lg tracking-tight font-medium leading-7 font-regular text-white hover:underline"
                >
                    {{ $title }}
                </a>
            </main>
        </div>
    </div>
</div>
{{ /if }}
