<article class="max-w-7xl mx-auto px-3">
    <header>
        <h1 class="text-2xl uppercase font-semibold tracking-wider my-4">
            Latest Stories
        </h1>

        <div class="grid overflow-hidden grid-cols-3 grid-rows-2 gap-4">
            {{ collection:blog featured:is="true" as="featured" limit="3"
            sort="date:desc" }} {{ featured }} {{ partial:blog/header }} {{
            /featured }} {{ /collection:blog }}
        </div>
    </header>

    <div class="flex justify-between items-center bg-gray-600 p-5 my-16">
        <h1 class="text-xl text-white">
            Subscribe to our newsletter and receive our weekly esports business
            news.
        </h1>

        <div class="flex flex-between items-center">
            <input
                type="text"
                class="p-3 mr-3 w-80 outline-0 caret-pink-400 text-pink-400"
                placeholder="Enter your email address"
            />
            <button class="px-6 py-3 bg-pink-500 text-white font-semibold">
                Submit
            </button>
        </div>
    </div>

    {{ collection:blog featured:exists="false" as="posts" paginate="10"
    sort="date:desc" }}
    <section class="grid overflow-hidden grid-cols-3 gap-6">
        {{ posts }} {{ partial:blog/card :oversized="first" }} {{ /posts }}
    </section>
    {{ paginate }} {{ if $prev_page || $next_page }}
    <section class="flex space-x-8 justify-center text-xl pt-16 font-bold">
        {{ if $prev_page }}
        <a href="{{ $prev_page }}"
            ><span class="squiggle">&larr;</span> Newer articles</a
        >
        {{ /if }} {{ if $next_page }}
        <a href="{{ $next_page }}"
            >Older articles <span class="squiggle">&rarr;</span></a
        >
        {{ /if }}
    </section>
    {{ /if }} {{ /paginate }} {{ /collection:blog }}
</article>
