<article>
    <header>
        <div class="flex justify-between items-center">
            <h1
                class="text-1xl sm:text-2xl uppercase font-semibold tracking-wider my-4"
            >
                Latest Stories
            </h1>
        </div>

        <div
            class="grid overflow-hidden grid-cols-1 sm:grid-cols-3 sm:grid-rows-2 gap-4"
        >
            {{ collection:blog featured:doesnt_exist="true" as="featured"
            limit="3" sort="date:desc" }} {{ featured }} {{ partial:blog/header
            }} {{ /featured }} {{ /collection:blog }}
        </div>
    </header>

    <!-- NEWSLETTER -->
    {{ partial:blog/newsletter }}
    <!-- Featured Stories -->
    <h1
        class="text-1xl sm:text-2xl uppercase font-semibold tracking-wider my-4"
    >
        Featured Stories
    </h1>
    <!-- POST CARDS -->
    {{ collection:blog featured:is="true" as="posts" paginate="12"
    sort="date:desc" }}
    <section class="grid overflow-hidden grid-cols-1 sm:grid-cols-3 gap-6">
        {{ posts }} {{ partial:blog/card :oversized="first" }} {{ /posts }}
    </section>
    {{ paginate }} {{ if $prev_page || $next_page }}
    <section class="flex space-x-8 justify-center text-xl pt-16 font-bold">
        {{ if $prev_page }}
        <a href="{{ $prev_page }}"
            ><span class="squiggle">&larr;</span> Newer articles</a
        >
        {{ /if }} {{ if $next_page }}
        <a href="{{ $next_page }}"
            >Older articles <span class="squiggle">&rarr;</span></a
        >
        {{ /if }}
    </section>
    {{ /if }} {{ /paginate }} {{ /collection:blog }}
</article>
