<article class="mt-4">
    <header class="text-center content mb-5">
        <img
            class="mb-3"
            src="{{ glide:hero_image }}"
            alt="{{ $hero_image:alt }}"
        />
        {{ if tags }}
        <div class="my-4">{{ partial:blog/tags }}</div>
        {{ /if }}
    </header>
    <section class="content">
        <div class="grid overflow-hidden md:grid-cols-4 grid-cols-1 gap-6">
            <!-- main content -->
            <div class="md:col-span-3">
                <h1 class="text-left mb-4 sm:text-2xl text-xl">{{ $title }}</h1>

                <div class="flex flex-col text-left text-sm mb-10">
                    <!-- author -->
                    {{ if $author }}
                    <img
                        src="{{ $author:avatar ?? $author:email | gravatar(160) }}"
                        class="h-16 w-16 sm:h-24 sm:w-24 my-0 mb-4 rounded-full object-cover"
                    />
                    <div class="mb-3">
                        <a
                            class="font-bold no-underline"
                            href="/authors/{{ author:handle }}"
                        >
                            <span
                                class="bg-clip-text text-transparent bg-gradient-to-r from-slate-600 to-slate-900"
                            >
                                By {{ $author:name }}
                            </span>
                        </a>
                    </div>
                    {{ /if }}
                    <!-- posted date -->
                    <time datetime="{{ $date | format('Y-m-d') }}"
                        >{{ $date }}</time
                    >
                </div>

                {{ main_content }} {{ if $type == "text" }} {{ $text }} {{
                elseif $type == "code_block" }}
                <pre
                    class="language-{{ $mode ?? 'php' }} rounded"
                ><code>{{ $code }}</code></pre>
                {{ elseif $type == "image" }}
                <figure>
                    <img src="{{ $image }}" alt="{{ $caption }}" />
                    <figcaption>{{ $caption }}</figcaption>
                </figure>
                {{ /if }} {{ /main_content }}
            </div>
            <!-- sidebar -->
            <div class="md:col-span-1">{{ partial:blog/sidebar }}</div>
        </div>
    </section>

    {{ if $settings:show_signup }} {{ partial:sign-up}} {{ /if }}
</article>
